<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCegVEjIIhmICQUW5s9KlKwVKLDK9WaTbw</string>
	<key>GCM_SENDER_ID</key>
	<string>239944767220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamaApp</string>
	<key>PROJECT_ID</key>
	<string>relo-fast</string>
	<key>STORAGE_BUCKET</key>
	<string>relo-fast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239944767220:ios:34e923e00c2b7e5f8270a1</string>
</dict>
</plist>